{% extends "base.html" %}
{% load static %}
{% block title %}Falcon tours-Gallery {% endblock %}
{% block galleryactive %}active{% endblock %}
{% block css %}<link href="{% static 'assets/css/gall.css' %}" rel="stylesheet">{% endblock %}

{% block content %}

  <main id="main">

   
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>Stocks</li>
        </ol>
        <h2>Stocks</h2>

      </div>
    </section>

    
    <section id="services" class="services">
      <div class="container">
        <div class="row">      
            
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class = "rowed">
                <a href = "#" class = "column col-xs-6" id = "captioned"><span class = "text"><h1>Start your trade</h1></span><img src = "{% static 'assets/img/gallery/111.gif' %}" width="100px" height="100px"></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class = "rowed">
                <a href = "#" class = "column col-xs-6" id = "captioned"><span class = "text"><h1><p style="color:lightgreen">GROWW</p>start your trade</h1></span><img src = "{% static 'assets/img/gallery/211.gif' %}" width="100px" height="100px"></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class = "rowed">
                <a href = "#" class = "column col-xs-6" id = "captioned"><span class = "text"><h1><p style="color:black">start your trade</p></h1></span><img src = "{% static 'assets/img/gallery/311.gif' %}" width="100px" height="100px"></a>
            </div>
        </div>


        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class = "rowed">
                <a href = "#" class = "column col-xs-6" id = "captioned"><span class = "text"><h1>start your trade</h1></span><img src = "{% static 'assets/img/gallery/411.gif' %}" width="100px" height="100px"></a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class = "rowed">
                <a href = "#" class = "column col-xs-6" id = "captioned"><span class = "text"><h1><p style="color:grey">start your trade</p></h1></span><img src = "{% static 'assets/img/gallery/511.jpg' %}" width="100px" height="100px"></a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class = "rowed">
                <a href = "#" class = "column col-xs-6" id = "captioned"><span class = "text"><h1><p style="color:black">start your trade</p></h1></span><img src = "{% static 'assets/img/gallery/611.jpg' %}" width="100px" height="100px"></a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class = "rowed">
                <a href = "#" class = "column col-xs-6" id = "captioned"><span class = "text"><h1><p style="color:black">start your trade</p></h1></span><img src = "{% static 'assets/img/gallery/711.jpg' %}" width="100px" height="100px"></a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class = "rowed">
                <a href = "#" class = "column col-xs-6" id = "captioned"><span class = "text"><h1>start your trade</h1></span><img src = "{% static 'assets/img/gallery/811.jpg' %}" width="100px" height="100px"></a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class = "rowed">
                <a href = "#" class = "column col-xs-6" id = "captioned"><span class = "text"><h1>start your trade</h1></span><img src = "{% static 'assets/img/gallery/911.jpg' %}" width="100px" height="100px"></a>
            </div>
        </div>

        



        </div>
      </div>
    </section>
    {% endblock %}