{% extends "base.html" %}
{% load static %}
{% block title %}Falcon trades-Signin{% endblock %}
{% block signinactive %}active{% endblock %}
{% block css %} <link href="{% static 'assets/css/signin.css' %}" rel="stylesheet"> {% endblock %}
{% block content %}
  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>LOGIN</li>
        </ol>
        <h2>LOGIN</h2>

      </div>
    </section>    
    <section class="vh-10 bg-image" style="background-image: url('');"><br><br><br><br>
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">LOGIN</h2>
    
                  <form  action="{% url 'signin' %}" method="post">
                    {% csrf_token %}
                    
                    <div class="form-outline mb-4">
                      <label class="form-label" for="username">User Name</label>
                      <input type="text" id="username" class="form-control form-control-lg" name="username" placeholder="Username" Required />
                      
                    </div>

    
                    <div class="form-outline mb-4">
                      <label class="form-label" for="password">Password</label>
                      <input type="password" id="password1" class="form-control form-control-lg" name="password1" placeholder="Password" Required  />
                      
                    </div>
    
                    <div class="d-flex justify-content-center">
                      <button type="submit" class="button1">Sign-in</button>
                    </div>
    
                    <p class="text-center text-muted mt-5 mb-0">Create an account? <a href="{% url 'signup' %}" class="fw-bold text-body"><u>SignUp</u></a></p>
    
                  </form>
    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    

    {% endblock %}