{% extends "base.html" %}
{% load static %}
{% block title %}Falcon trades-Thanks {% endblock %}

{% block css %}<link href="{% static 'assets/css/dash.css' %}" rel="stylesheet">{% endblock %}

  {% block content%}

  <main id="main">

   
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>Thanks</li>
        </ol>
        <h2>Thanks</h2>
      </div>
    </section>

  </main>

  <section id="contact" class="contact">
    <div class="container">

      <div class="row">
        <div class="col-lg-3">
          <div class="info-box mb-4">
            <i class="bx bx-map"></i>
            <h3>Our Address</h3>
            <p>24-89, manipuram bridge down,<br> Guntur, (Dist.) 522001,INDIA.</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bx-envelope"></i>
            <h3>Email Us</h3>
            <a href="mailto:atevents@gmail.com"><br> stockexchange@gmail.com</a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bi bi-whatsapp"></i>
            <h3>Whatsapp</h3>
            <a href="https://api.whatsapp.com/send/?phone=%2B918008152458&text&app_absent=0" target="blank"><br> Message Here!!</a>
          </div>
        </div>


        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="bx bx-phone-call"></i>
            <h3>Call Us</h3>
            <p><br>+91 80081 52458</p>
          </div>
        </div>
    </div>
    </div>

    <div>
    <h1 style="text-align: center;">"Thanks for Booking the event" {{request.user.first_name}} </h1>
    <h4 style="text-align: center;">Our team will contact you soon......</h4>
    <h6 style="text-align: center;">Have a nice day.....</h6>
    </div>
  </section>
  {% endblock %}

  
  